<div class="alignleft">
	All Right Reserved 
  <% if (config.author){ %>
  &copy; <%= new Date().getFullYear() %> by <%= config.author %>
  <% } else { %>
  &copy; <%= new Date().getFullYear() %> by <%= config.title %>
  <% } %>
</div>
<div class="clearfix"></div>