
@font-face {
	font-family: '华文行楷';
	src: url('../华文行楷.woff') format('woff'),
	url('../华文行楷.ttf') format('truetype'),
	url('../华文行楷.svg') format('svg'),
	url('../华文行楷.eot') format('embedded-opentype');
	font-weight: normal;
	font-size: normal;

}